<html>

<head>





{{>header}}











</style>












</head>





<body ng-app="myApp" ng-controller="myCtrl"   data-ng-init="onrun()">











<button type="button" class="btn btn-secondary" ng-click="savecamera()" >Save</button>


<!--
Copyright 2018 Google LLC. All Rights Reserved. 
Use of this source code is governed by an MIT-style license that can be found
in the LICENSE file at http://material.angularjs.org/HEAD/license.
-->
 <md-card md-theme="{[{ showDarkTheme ? 'dark-grey' : 'default' }]}"   md-theme-watch>
<h2>Enable Monitoring</h2>
<div class="inset switchdemoBasicUsage" >


  <md-switch ng-model="main" aria-label="Switch 2">
    Main_Switch : {[{ main}]}
  </md-switch>

  <md-switch ng-model="callswitch" aria-label="Switch 2">
    Callswitch : {[{ callswitch}]}
  </md-switch>



    <md-switch ng-model="accuracy" aria-label="Switch 2">
    Accuracy : {[{ accuracy}]}
  </md-switch>


 <md-input-container class="md-block" flex-gt-sm>
            <label> Reload time(s)</label>
            <input type="number"   ng-model="reloadtime">
          </md-input-container>





</div>

 <md-input-container class="md-block" flex-gt-sm>
            <label> Telegram ID</label>
            <input ng-model="chatid">
          </md-input-container>
 </md-card>

 <md-card md-theme="{[{ showDarkTheme ? 'dark-grey' : 'default' }]}" md-theme-watch>


<h3>Camera List</h3>

{{!-- <div ng-repeat="r in myname">

<p>{[{r}]}</p>
  <input type="text" id="form1" class="form-control" value="{[{r  }]}">

</div>
 --}}




<div ng-repeat="item in items.cameras">


 <md-input-container class="md-block" flex-gt-sm>
            <label>Camera Name</label>
            <input ng-model="item.cameraname">
          </md-input-container>



 <md-input-container class="md-block" flex-gt-sm>
            <label>Camera URL</label>
            <input ng-model="item.camurl">
          </md-input-container>

    <md-switch ng-model="item.switch" aria-label="Switch 1">
    Switch : {[{ item.switch }]}
  </md-switch>

           <button type="button" class="btn btn-danger" ng-click="remove($index)">Delete</button>

</div>

<button type="button" class="btn btn-primary" ng-click="add()">ADD Camera</button>

      







        </md-card>  



<!--
Copyright 2018 Google LLC. All Rights Reserved. 
Use of this source code is governed by an MIT-style license that can be found
in the LICENSE file at http://material.angularjs.org/HEAD/license.
-->







{{>library}}

	<script src="/js/index.js"> </script>



</body>









</html>