<head>



<style type="text/css">

{{>logincsss}}
{{>header}}


</style>


</head>




<body ng-app="myApp" ng-controller="myCtrl"   data-ng-init="onrun()">

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!------ Include the above in your HEAD tag ---------->

<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->


    <!-- Login Form -->
    <form ng-submit="register()">
      <h2>register</h2>
      <input type="text" id="login" class="fadeIn second"  placeholder="login" ng-model="userid">
      <input type="text" id="password" class="fadeIn third"  placeholder="password" ng-model="password">
      <input type="submit" class="fadeIn fourth" >
    </form>

  </div>
</div>
{{>library}}
<script src="/js/register.js"></script>
</body>